doctype html
html(lang="zh")
    head
        meta(charset='UTF-8')
        meta#vp(
        name='viewport'
        content='width=device-width, initial-scale=1')
        title Resume
        style
            include ../css/frame.css
            include ../css/left.css
            include ../css/content.css
        script
            include ../js/main.js
    body
        #frame
            #left
                #name_title
                    #name=name
                    #title=title
                #skills
                    each skill in skills
                        .skill-row
                            .skill-name=skill.name
                            - mark.getElementById('score').setAttribute('width', skill.score);
                            - mark.documentElement.setAttribute('class','skill-score');
                            div!=mark
                #communications
                    each comm in communication
                        -var icon=fs.readFileSync('src/res/'+comm.icon)
                        .communication-row
                            .communication-icon!=icon
                            a.communication-text(href=comm.link)=comm.info
            #content
                each section in biography
                    .section
                        .main_title=section.title
                        each list in section.content
                            .item
                                a.sub_title(href=list.link)=list.sub_title
                                each item in list.items
                                    .sub_item
                                        .hint=item.duration
                                        .main_text=item.description